<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap" rel="stylesheet">
  <!-- Add the Tailwind CSS library -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col min-h-screen bg-gray-800 text-white">
  <div class="container flex-1 mx-auto px-4 py-8">
    <div class="header text-center">
      <h1 class="text-6xl font-bold mb-4">
        UltraShare
      </h1>
      <p class="text-xl font-semibold">
        Unlimited File Size Transfer, Ultra-Secure and Effortless
      </p>
    </div>

    <% if (locals.fileLink !=null) { %>
      <div class="message text-center">
        Your file is uploaded :) &nbsp;<a href="<%= locals.fileLink %>" class="underline">Click to Download</a>
      </div>
      <div class="message text-center">
        Link to share anywhere: <%= locals.fileLink %>
      </div>
    <% } %>

    <form action="/upload" method="post" class="file-upload-container grid items-center justify-center mt-8">
      <label for="file" class="file-label text-center">
        Click to Upload your Files
      </label>
      <input type="file" id="file" name="file" required class="file-input hidden" />
      <input type="password" id="password" name="password" placeholder="Password" class="password-input mt-4 px-4 py-2 rounded-lg border border-gray-400 bg-transparent text-white placeholder-white::placeholder" />
      <button id="btn1" type="submit" class="mt-4 py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-lg">
        SHARE
      </button>
    </form>
  </div>

  <div class="footer text-sm mt-8 mb-4 text-center">
    Made with
    <svg class="heart inline-block h-4 w-4 text-red-600" viewBox="0 0 32 29.6">
      <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
    </svg>
    by <a href="https://github.com/jals413" target="_blank" class="link">Jal Thakor</a>
  </div>
</body>

</html>
