<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap" rel="stylesheet">
  <style>
    #btn2:hover {cursor: pointer;}
  </style>
</head>
<body style=" background-color: #AEFEFF; font-family: 'Josefin Sans', sans-serif ;">
  <div
    style=" margin: auto; padding: auto; align-items: center; color: #072227; justify-content: center; border: solid 3px #072227; height: 97vh; width: 97vw;">
  <% if (locals.error) { %>
    <div style="color: red; display: flex; align-items: center; justify-content: center; margin: 10px; padding: 10px; font-size: 150%;">
      Incorrect Password
    </div>
  <% } %>
  <form method="post" style=" display: flex; align-items: center; justify-content: center; margin: 10px; padding: 10px;">
    <input type="password" id="password" name="password" required placeholder="Password" style="display: flex; align-items: center; justify-content: center; margin:10px ; padding: 10px; font-family: 'Josefin Sans', sans-serif ; font-size: 150%;  background-color: #AEFEFF; border: solid 2px #072227 ;border-radius: 10px;"/>
    <button  id="btn2" style="display: flex; align-items: center; background-color: #AEFEFF; border: solid 2px #072227 ;border-radius: 10px;justify-content: center; margin: 10px; padding: 10px; font-size: 150%;" type="submit">Download</button>
  </form>
  <% if (locals.error) { %>
  <div
  style="justify-content: center; align-items: center; padding-top: 38% ;  padding-left: 45%; margin: auto; font-family: 'Josefin Sans', sans-serif ; font-size: 100%; justify-content: center; align-items: center;">
  Made with
  <svg class="heart" viewBox="0 0 32 29.6" style="fill: red; position: relative; top: 5px; width: 20px;">
    <path
      d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
  </svg>
  by <a href="https://github.com/jals413" target="_blank" style="text-decoration: none; color: blueviolet;">Jal
    Thakor</a>
</div>
<% } %>

<% if (!locals.error) { %>
  <div
  style="justify-content: center; align-items: center; padding-top: 41.5% ;  padding-left: 45%; margin: auto; font-family: 'Josefin Sans', sans-serif ; font-size: 100%; justify-content: center; align-items: center;">
  Made with
  <svg class="heart" viewBox="0 0 32 29.6" style="fill: red; position: relative; top: 5px; width: 20px;">
    <path
      d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
  </svg>
  by <a href="https://github.com/jals413" target="_blank" style="text-decoration: none; color: blueviolet;">Jal
    Thakor</a>
</div>
<% } %>
  </div>
</body>
</html>